* {
    box-sizing: border-box;
}
    
/* HEADER */
.header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.mylogo {
    background-color: #ffffff;
    text-align: right;
}
    
    /* NAV BAR */
.topnav {
    background-color: #002478;
    overflow: hidden;
    margin-right: 100px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #EE7600;
    color: white;
}

.topnav .icon {
    display: none;
}

    /* LOGO */
.mylogo {
    width: 27%;
    float: right;
    position: absolute;
    top:0;
    right:0;
  }
    
    /* COLUMNS */
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}